div(class="header")
    h1="Entrega "
        span="#5"
    div(class="header_p")
        p(class="first")="Incorporando PUG. Motores de Plantillas."
        p(class="second")="CREADO CON:"
        img(src="pug.svg", alt="", srcset="")