* {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color:white;
}

body{
    background-color: #1F2023;
}


h1 span{
    color:#D3E661;
}

h1{
    font-weight: bold;
    font-size: 50px;
    margin:0;
}

.header{
    border-bottom: #D3E661 2px solid;
}
